<div class="main">
	<div class="main_content"> <!-- phan noi dung -->
		<div class="container" style="margin: 50px auto;">
			<div class="row">
				<div class="col-md-9 boxleft" style="border-top: 1px solid #eaeaea; border-right: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
					<div class="col-md-12 boxnews">
						<div class="title" style="width: 100%;">
							<div class="bgleft">
								<span>
									<a href="" style="color: #fff;">Giới thiệu</a>		
								</span>
								<span class="breakcolumn">>></span>
								<span>
									<a href="/intros/facilities" style="color: #fff;">Cơ sở vật chất</a>
								</span>
								<span class="breakcolumn">>></span>
								
							</div>
							<div class="bgright">
								
							</div>
						</div>
					</div>
					<div class="intros_content col-md-12" style="padding: 0 10px;">
						<h3 class=""><a href="/intros/facilities">Cơ sở vật chất</a></h3>
						<hr>
						<div>
							<div style="padding: 10px 0;">
								<span class="glyphicon glyphicon-calendar calendar"></span>
								<span>30/06/2017</span>
							</div>
							<hr>
							<div>
								<p>Nằm trong Khu đô thị mới Văn Khê, Phường La Khê, Quận Hà Đông, TP Hà Nội, Trường Tiểu học Mầm non Chu Văn An tự hào là ngôi trường có cơ sở vật chất khang trang, được thiết kế hiện đại, bao gồm:</p>
								<p>* Khuôn viên rộng hơn 5000m²;</p>
								<p>* Hệ thống phòng học tiên tiến. Mỗi phòng có diện tích hơn 100m², thiết kế theo phong cách lớp học linh hoạt, có lắp đặt máy điều hòa và trang bị các phương tiện dạy học hiện đại, phục vụ tối ưu việc triển khai các phương pháp dạy học. Phòng học được chia làm hai phần: phòng chuyên cho hoạt động học tập, rộng hơn 50m2 đủ không gian học tập thoải mái cho khoảng 30 – 35HS; phòng ngủ riêng biệt nằm trong phòng học, rộng gần 50m²; phòng rửa mặt 10m² tạo thành một hệ thống liên hoàn;</p>
								<p>* Thư viện rộng hơn 100m² có hơn 2000 đầu sách với không gian mở, phù hợp với nhiều loại hình học tập linh hoạt và sáng tạo;</p>
								<p>* Hệ thống các phòng học chức năng được thiết kế chuyên biệt nhằm phát triển các năng lực cũng như năng khiếu, sở trường của học sinh như: Phòng giáo dục thể chất, dancing; phòng vẽ tranh; phòng chiếu phim; phòng ngoại ngữ, tin học,…;</p>
								<p>* Phòng ăn và bếp hiện đại;</p>
								<p>* Không gian bên ngoài các phòng học với hành lang rộng rãi, hệ thống chiếu sáng, điều hòa, bình nước nóng luôn đảm bảo điều kiện tốt nhất cho học sinh học tập, sinh hoạt, vui chơi;</p>
								<p>* Đặc biệt nhà trường có khu bể bơi thông minh rộng gần 200m2 được trang bị hiện đại, an toàn, vệ sinh. Không gian xanh chiếm ½ diện tích tạo cho trường Chu Văn An một môi trường xanh, đẹp, tiện ích và thân thiện.</p>
								<p>Được thành lập theo Quyết định 1003/2008 QĐ – UBND Q.Hà Đông, sau khi hoàn thiện cơ sở vật chất, Nhà trường chính thức tuyển sinh những lớp học đầu tiên vào năm học 2012 – 2013. Đến nay, năm học 2016 – 2017 là năm học đánh dấu một chặng đường 5 năm phát triển, nhà trường đã bước đầu khẳng định được chất lượng và tên tuổi trong khu vực, với nhiều giải HSG và thành tích mũi nhọn. Trong năm học mới sắp tới Nhà trường tiếp tục đổi mới căn bản, toàn diện, trong đó sẽ tập trung vào tiếp tục đổi mới phương pháp dạy học; nâng cao chất lượng nguồn giáo viên; nâng cao chất lượng đại trà; tăng chất lượng thành tích HSG; tăng cường các hoạt động giáo dục; tăng cường Tiếng Anh với người bản ngữ. Đặc biệt Nhà trường sẽ tăng các tiết học Toán, TNXH bằng tiếng Anh, giúp các con HS vững chắc kiến thức nền tảng, thuần thục các kĩ năng tiếng Anh, phát triển toàn diện các năng lực và phẩm chất.</p>
							</div>
							<div>
								<h4><b>Một số hình ảnh của Trường Tiểu học ABC</b></h4>
								<div class="facilities_picture">
									<%= image_tag("q1.jpg", width: 630, height: 450, :class => "facilities_image") %>
									<%= image_tag("q2.jpg", width: 630, height: 450, :class => "facilities_image") %>
									<%= image_tag("q3.jpg", width: 630, height: 450, :class => "facilities_image") %>
									<p style="text-align: center; margin: 0 0 15px 0;">Một số góc khuôn viên của Trường Tiểu học ABC</p>
									<%= image_tag("q6.jpg", width: 630, height: 450, :class => "facilities_image") %>
									<p style="text-align: center; margin: 0 0 15px 0;">Các con cùng nhau đọc sách tại thư viện của Trường</p>
									
									<%= image_tag("q7.jpg", width: 630, height: 450, :class => "facilities_image") %>
									<p style="text-align: center; margin: 0 0 15px 0;">Khu bể bơi của Trường</p>
									<%= image_tag("q8.jpg", width: 630, height: 450, :class => "facilities_image") %>
									<p style="text-align: center; margin: 0 0 15px 0;">Phòng học chức năng được 	thiết kế chuyên biệt nhằm phát triển các năng lực cũng như năng khiếu, sở trường của học sinh</p>
									<%= image_tag("q5.jpg", width: 630, height: 450, :class => "facilities_image") %>
									<%= image_tag("q4.jpg", width: 630, height: 450, :class => "facilities_image") %>
									
								</div>
							</div>
						</div>
					</div>
					<div class="comment col-md-12" style="padding-left: 10px;">
						<div style="border: 1px solid #eaeaea;">
							<h2 class="comment-title">
								<span>Bình luận</span>
							</h2>
							<div class="comment-right"></div>
						</div>
						<div class="comment-form">
							<span class="comment-content">0 Comments</span>
							<hr>
							<div class="media">
								<a class="pull-left" href="#">
									<%= image_tag("ava.jpg", :class => "media-object") %>
								</a>
								<div class="media-body">
									<input type="text" name="" class="form-control" placeholder="Add a Comment">
								</div>
							</div>
							<input type="button" name="" value="Post" class="btn btn-info" style="float: right; margin: 5px 0;">
						</div>
					</div>
				</div>
				<%= render "commons/sidebar", {report1s: @report1s} %>
			</div>
		</div><!-- end container -->
	</div> <!-- end maincontent -->
</div><!-- end main -->