<!DOCTYPE html>
<html>
  <head>
    <title><%= maketitle(yield(:title)) %></title>
    <%= csrf_meta_tags %>

  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  	<div class="container">

      <div class=" clearfix">
      <nav>
          <ul class="nav nav-pills pull-right" style="margin: 10px;">
            <li role="presentation" class="active"><%= link_to 'Home', users_path %></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            <li role="presentation" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> User
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Register', new_user_path, :class=>"" %></li>
                <li><a href="../session/new">Log in</a></li>
                <li><a href="#"></a></li>
              </ul>
            </li>
          </ul>
      </nav>
      <h3 class="text-muted">
        <%= link_to raw('<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Trần Đức Lợi'), users_path %>
      </h3>
    </div>

  		<%= yield %>
  	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  </body>
</html>